body {
  padding-bottom: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

.scrollable-menu.selectedRem {
	height: auto;
    max-height: 204px;
    overflow-x: hidden;
}

.alertas {
	width: 400px;
	position: fixed;
	top: 20%;
	left: 50%;
	transform:translateX(-200px);
	z-index: 1;
}

