body {
  padding-bottom: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

.colapsable {
	-webkit-transition: height 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: height 2s, height 2s, transform 2s;
}
