<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reação médicas</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="./css/index.css" rel="stylesheet">

    <script src="./js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="./js/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="./js/index.js"></script>
  </head>

  <body ng-controller="mainController" ng-init="initInfo()">
    <!--*********************************
       HEADER
    *********************************-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Medicamento</a>
        </div>
      </div>
    </nav>
    <!--*********************************
       HEADER
    *********************************-->

    <!--*********************************
       ALERTS
    *********************************-->
    <div class="alertas">
      <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
    <!--*********************************
       ALERTS
    *********************************-->

    <div class="container">
      <!--*********************************
          MAIN CONTENT
      *********************************-->
      <div class="jumbotron col-sm-12 col-md-12 col-lg-12">
        <h1 ng-click="collapse = !collapse">
          Seleção de medicamenos
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-if="!collapse"></span>
          <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-if="collapse"></span>
        </h1>
        
        <div class="col-sm-12 col-md-12 col-lg-12 colapsable" uib-collapse="collapse">
          <p>Escolhendo um remédio, é verificado as ligações dele com todos remédios regisrados. Selecionando mais de um é verificado todas combinações dentro da seleção.</p>
          <form>
            <div class="form-group" >
              <input ng-model="searchText" type="text" placeholder="Medicamento" class="form-control">
            </div>
            <!--*********************************
                Remedies options
            *********************************-->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">Opções</div>
                <div class="panel-body">
                  <ul class="list-group scrollable-menu">
                    <button type="button" class="list-group-item" ng-repeat="remedio in remedios | filter:searchText" ng-click="selecionar(remedio);">{{remedio.rem_name}}</button>
                  </ul>
                </div>
              </div>
            </div>
            <!--*********************************
                Remedies options
            *********************************-->
            <!--*********************************
                Remedies selected
            *********************************-->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">Selecionados</div>
                <div class="panel-body">
                  <ul class="list-group scrollable-menu selectedRem">
                    <button type="button" class="list-group-item" ng-repeat="selecionado in selecionados">{{selecionado.rem_name}}</button>
                    <button class="animate-repeat list-group-item" ng-if="selecionados.length == 0">
                      <strong>Nenhum remedio selecionado</strong>
                    </button>
                  </ul>
                  <button type="submit" ng-if="selecionados.length > 0" ng-click="limparSelecao()" class="btn btn-success btn-lg col-sm-12 col-md-12 col-lg-12">Limpar</button>
                </div>
              </div>
            </div>
            <!--*********************************
                Remedies selected
            *********************************-->
            <div class="form-group">
              <button type="submit" ng-click="procurar()" class="btn btn-success btn-lg col-sm-12 col-md-12 col-lg-12">Procurar</button>
            </div>
          </form>
        </div>
      </div>
      <!--*********************************
          MAIN CONTENT
      *********************************-->
      <!--*********************************
          RESULT SEARCH
      *********************************-->
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <thead> 
              <tr> 
                <th>#</th> 
                <th>Remedio 1</th> 
                <th>Remedio 2</th> 
                <th>Compatibilidade</th> 
              </tr> 
            </thead>
            <tbody>
              <tr ng-repeat="resultadoReact in resultadosReact" ng-class="resultClassType[resultadoReact.rea_type]">
                <th>{{resultadoReact.id_reac_rem}}</th> 
                <th>{{(selecionados | filter:{id_remedio:resultadoReact.id_med1})[0].rem_name}}</th> 
                <th>{{(selecionados | filter:{id_remedio:resultadoReact.id_med2})[0].rem_name}}</th> 
                <th>{{resultTextType[resultadoReact.rea_type]}}</th>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
      <!--*********************************
          RESULT SEARCH
      *********************************-->

      <hr>

      <footer>
        <p>&copy; Desenvolvido por Érico Medeiros</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
